{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "#routes": "./src/routes",
        "#config": "./config",
        "#database": "./src/database",
        "#lib": "./src/lib",
        "#services": "./src/services",
        "#controllers": "./src/controllers"
      }
    }]
  ]
}